body {
    background: #000 url("Soul Eater.jpg");
}
    margin-right: 0px:;
}
section {
	color: #fff;

}

h1 {
	color: red
}
#red-heading: red;
#orange-heading: orange;
#green-heading: green;
#blue-heading: blue;

article {
	width: 50%;
	float: left;
	color: #fff
}

article img {
	max-width: 60%;
}