body {
    background: #000 url("QreVoPsfZwChJfH2c-Lob3bBFng.jpg");
}
    
#header {
	text-align: center;
}
.left{
	float: left;
}
.right{
	float: right;
}

section {
	color: #fff;
    float: center;

}

h1 {
	text-align: center;
	color: red
}
#red-heading{color: red;}
#orange-heading{color: orange;}
#green-heading{color: green;}
#blue-heading{color:  blue;}

p {
    background-color: black;
    text-align: center;
    font-style:georgia;
}

p.ex {
    border:1px solid blue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}


section {
	text-align:center;
	color: #fff;
	height:400px;
	background: black;
}

article img {

	max-width: 60%;
	float: left;
}

nav ul li {
	display: inline-block;
	margin: 0 5px;
	font-size : 20px;
	color: #000
}


a:link {
    color: blue;
    background-color: white;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: white;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: white;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: white;
    text-decoration: underline;
}