body {
    background: url("maxresdefault.jpg")
}
#header {
	text-align: center;
}
.left{
	float: center;
}
.right{
	float: center;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.center{
    margin: auto;
    width:60%;
    padding: 10px;
}
 section {
    float:right;
    width: 50%;
    padding: 5px;
    display: inline-block;
 }
nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    font-size : 20px;
    color: #000
}

 aside {
    width: 80%;
    padding: 20px;
    float: right;
 }
a:link {
    color: blue;
    background-color: white;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: white;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: white;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: white;
    text-decoration: underline;
}
